<div class="create m3">
    <mat-card>
      <mat-card-title>
        <div fxLayout="row" fxLayoutAlign="start center">
          <button mat-icon-button routerLink="/articles">
            <mat-icon>arrow_back</mat-icon>
          </button>
          <h1>Nouvel article</h1>
        </div>
      </mat-card-title>
      <mat-card-content *ngIf="articleForm">
        <form class="mt2" fxLayout="column" [formGroup]="articleForm" (ngSubmit)="submit()">
          <mat-form-field appearance="outline" class="" fxFlex>
            <mat-label>Titre</mat-label>
            <input matInput formControlName="title">
          </mat-form-field>

<mat-form-field appearance="outline" fxFlex>
  <mat-label>Thème</mat-label>
  <mat-select formControlName="theme_id">
    <mat-option *ngFor="let theme of themes" [value]="theme.id">
      {{ theme.title }}
    </mat-option>
  </mat-select>
</mat-form-field>

          <mat-form-field appearance="outline" fxFlex>
            <mat-label>Contenu</mat-label>
            <textarea matInput rows="8" formControlName="content"></textarea>
          </mat-form-field>
          <div fxLayout="row" fxLayoutAlign="center center">
            <button mat-raised-button color="primary" type="submit" [disabled]="articleForm.invalid">
              Publier
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>