<div class="m3">
    <mat-card *ngIf="article">
      <mat-card-title>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <div fxLayout="row" fxLayoutAlign="start center">
            <button mat-icon-button (click)="back()">
              <mat-icon>arrow_back</mat-icon>
            </button>
            <h1>{{article.title | titlecase}}</h1>
          </div>

        </div>
      </mat-card-title>

      <mat-card-content>
        <div class="my2" fxLayout="row" fxLayoutAlign="space-between center">
          <div fxLayoutAlign="start center">
            <mat-icon>
              calendar_month
            </mat-icon>
            <span class="ml1">{{ article.created_at | date: 'dd/MM/yyyy' }}</span>
          </div>
          <div fxLayoutAlign="start center">
            <mat-icon>
              person
            </mat-icon>
            <span class="ml1">{{ article.author_id.username }}</span>
          </div>
          <div fxLayoutAlign="start center">
            <mat-icon>
              list
            </mat-icon>
            <span class="ml1">{{ article.theme_id.title }}</span>
          </div>
        </div>
        <div class="description">
          {{ article.content }}
          <br>
        </div>
      </mat-card-content>
    </mat-card>

    <!-- Commentaires-->

    <div class="create m3">
    <mat-card>
      <mat-card-title>
        <div fxLayout="row" fxLayoutAlign="start center">
          <h3>Commentaires</h3>
        </div>
      </mat-card-title>

  <div class="comment" *ngFor="let comment of comments">
    <div class="comment-header">
      <div class="comment-author">{{ comment.user_id.username }}</div>
      <div class="comment-date">{{ comment.created_at | date: 'dd/MM/yyyy' }}</div>
    </div>
    <div class="comment-content">{{ comment.content }}</div>
  </div>

      <mat-card-content *ngIf="commentForm">
        <form class="mt2" fxLayout="column" [formGroup]="commentForm" (ngSubmit)="submit()">
          <input type="hidden" formControlName="article_id">

          <mat-form-field appearance="outline" fxFlex>
            <mat-label>Commentaire</mat-label>
            <textarea matInput rows="4" formControlName="content"></textarea>
          </mat-form-field>
          <div fxLayout="row" fxLayoutAlign="center center">
            <button mat-raised-button color="primary" type="submit" [disabled]="commentForm.invalid">
              Publier
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>

    <!-- Fin commentaires -->
  </div>