<div class="list">
  <mat-card>
    <mat-card-header fxLayout="row" fxLayoutAlign="space-between center">
      <mat-card-title class="m0">Liste des thèmes</mat-card-title>
    </mat-card-header>
    <div class="items mt2" fxLayout="row wrap" fxLayout.lt-md="column">
      <mat-card class="item" *ngFor="let theme of themes" fxFlex>
        <mat-card-header>
          <mat-card-title>{{ theme.title }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{ theme.description }}
          </p>
        </mat-card-content>
        <mat-card-actions>
    <button *ngIf="user && !theme.isSubscribed" mat-raised-button color="primary" (click)="subscribe(theme.id)">
      <mat-icon>person_add</mat-icon>
      <span class="ml1">S'abonner</span>
    </button>
    <button *ngIf="user && theme.isSubscribed" mat-raised-button color="warn" (click)="unSubscribe(theme.id)">
      <mat-icon>person_remove</mat-icon>
      <span class="ml1">Se désabonner</span>
    </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-card>
</div>
